@{
    ViewData["Title"] = "Home Page";
}

<center>
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <h1>Welcome To Home</h1>

                    <img src=~/css/home.png alt="">
                    <div class=""></div>
                </div>
            </div>

        </div>
    </div>
</center>

